.container-login, .status{
    margin-top: 5%;
}

.form-control{
    margin: 5px 0;
}

.producto{
    width: 300px;
    height: 300px;
}

.titulo, .container-producto{
    text-align: center;
}

.heading{
    height: 40px;
    background-color: #31b0d5;
    margin-bottom: 10px;
}

.salir{
    margin-top: 3px;
}

.salir a {
    color: white;
}

html body div.container.container-login.col-sm-offset-4.col-sm-4 form div.col-sm-12.text-center input#id.form-control{
    margin-top: 15%;
}

h1{
    margin-top: 0;
    text-align: center;
}

.pregunta{
    margin-top: 12px;
}

#user{
    margin-top: 10%;
}

.g-recaptcha{
    margin: 0 auto;
    display: block;
    width: 73%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}